
#cart{
    width: 260px;
    position: fixed;

    resize: both;
    overflow: auto;

    max-height: 100vh;
    overflow-y: scroll;

    padding: 1%;
    
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 10px  var(--transparent-secondary-color);
}


@media (min-width: 600px) {
    #cart{
        right: 0;
        top: var(--nav-height);
    }
    
}


@media (max-width: 600px) {
    #cart{
        width: 100%;
        height: 300px;
        bottom: 0;
        left: 0;
    }
}


.cart-item{
    border: 1px solid var(--secondary-color); 
    background-color: var(--primary-color);
    border-radius: 4px; 
    margin: 10px; 
    padding: 10px;

    .top{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    img{
        width: 40%;
        height: 40%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}