*{
    transition: all 0.5s;
}

:root{
    --primary-color: white;
    --secondary-color: black;
    --highlight-color: #f29e66;
    
    --accent-color: rgb(100, 255, 100); /* A soft green accent */
    --link-color: rgb(30, 144, 255); /* A vibrant blue for links */
    
    --transparent-secondary-color: rgba(0, 0, 0, 0.5);
    --transparent-primary-color: rgba(255, 255, 255, 0.9);
    
    --background-color: rgba(240, 240, 240, 1); /* Light background */



    --nav-height: 80px;
}

body{
    margin: 0;


    background-color: var(--primary-color);
    color: var(--secondary-color);

    transition: all 1s;
}

a:hover, button:hover{
    cursor: pointer;

}

button{
    background-color: var(--highlight-color);
}

nav{
    box-sizing: border-box;
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--transparent-primary-color);
    box-shadow: 0 0 10px  var(--transparent-secondary-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .links{
        display: flex;
        gap: 10px;
    }

    a{
        color: var(--link-color);
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

